[Unit]
Description=Lambda metrics and observability agent
After=network.target

[Service]
ExecStart=/usr/bin/telegraf -config /etc/lambda/metrics-stack/telegraf.conf -config-directory /etc/lambda/metrics-stack/telegraf.directory
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
