[Unit]
Description=Lambda metrics and observability agent
After=network.target

[Service]
ExecStart=/usr/bin/lambda/telegraf -config /etc/lambda/guest-agent/systemd/telegraf.conf -config-directory /etc/lambda/guest-agent/telegraf.conf.d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
