[Unit]
Description=Lambda metrics and observability agent updater
After=network.target

[Service]
ExecStart=/usr/bin/apt update
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target
